[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
django-templated-mail = "*"
django-background-tasks = "*"
django-debug-toolbar = "*"
pillow = "*"
dj-database-url = "*"
mysqlclient = "*"
waitress = "*"
whitenoise = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.12"
